# Extract features from the dataset

In [1]:
!pip3 install pandas==1.3.5

Requirement already satisfied: pandas==1.3.5 in /opt/homebrew/lib/python3.10/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/lib/python3.10/site-packages (from pandas==1.3.5) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.10/site-packages (from pandas==1.3.5) (1.23.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/homebrew/lib/python3.10/site-packages (from pandas==1.3.5) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas==1.3.5) (1.16.0)

In [2]:
import json
import pandas as pd

In [3]:

# crate a list to add dataframes to
awsc_list = list()

# list of files
files_list = ['../Datasets/event_history.json']

In [4]:
for file in files_list:
    with open(file, 'r', encoding='utf-8') as f:
        data = json.loads(f.read())
        
        # Append the dataframes
        awsc_list.append(pd.DataFrame.from_records(data['Records']))

In [5]:
# Merge data frames into one 
awsc = pd.concat(awsc_list).reset_index(drop=True)

In [6]:
users = pd.json_normalize(awsc['userIdentity']).merge(awsc[['eventName','eventSource','awsRegion']], left_index=True,right_index=True)

In [7]:
users['userName'] = users['userName'].fillna(users['arn']).fillna(users['invokedBy']) \
.fillna(users['invokedBy']).fillna(users['principalId'])

In [8]:
users = users[['type','userName','eventName','eventSource','awsRegion']]
users.rename(columns = {'userName':'Identifier','eventSource':'TargetService'})

,type,Identifier,eventName,TargetService,awsRegion
0,IAMUser,cloud_user,ConsoleLogin,signin.amazonaws.com,us-east-1
1,AssumedRole,arn:aws:sts::322270801872:assumed-role/admin/a...,CreateAccessKey,iam.amazonaws.com,us-east-1
2,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateDefaultVpc,ec2.amazonaws.com,us-east-1
3,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateLogGroup,logs.amazonaws.com,us-east-1
4,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateLogStream,logs.amazonaws.com,us-east-1
...,...,...,...,...,...
99735,AWSService,ssm.amazonaws.com,AssumeRole,sts.amazonaws.com,us-east-1
99736,AWSService,ssm.amazonaws.com,AssumeRole,sts.amazonaws.com,us-east-1
99737,AWSService,ssm.amazonaws.com,AssumeRole,sts.amazonaws.com,us-east-1
99738,AWSService,ssm.amazonaws.com,AssumeRole,sts.amazonaws.com,us-east-1
99739,AWSService,trustedadvisor.amazonaws.com,AssumeRole,sts.amazonaws.com,us-east-1

In [9]:
users.head()

,type,userName,eventName,eventSource,awsRegion
0,IAMUser,cloud_user,ConsoleLogin,signin.amazonaws.com,us-east-1
1,AssumedRole,arn:aws:sts::322270801872:assumed-role/admin/a...,CreateAccessKey,iam.amazonaws.com,us-east-1
2,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateDefaultVpc,ec2.amazonaws.com,us-east-1
3,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateLogGroup,logs.amazonaws.com,us-east-1
4,AssumedRole,arn:aws:sts::322270801872:assumed-role/cfst-14...,CreateLogStream,logs.amazonaws.com,us-east-1

KeyError: False

In [ ]:
awsc.head()